<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>ESV Bible API</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    <style>
        .gray {
            color: #999;
        }
        tab {
            margin-right: 10px;
        }
        blockquote {
            font-size: 12px;
        }
    </style>
</head>
<body>
<div class="container">
    <h1>ESV Bible API</h1>
    <p>A wrapper API around the ESV api with a focus on clean, easily consumable JSON response data. <a href="https://github.com/jwilkey/esv-bible-api">View on Github</a></p>
    <hr />

    <h3>/search/{query} <span class="gray">(Headers: {'x-esv-api-key': YOUR_ESV_API_KEY})</span> </h3>
    <blockquote>
        {<br/>
        <tab />"passage": {<br/>
        <tab /><tab />"reference": "Matthew 9:1-3",<br/>
        <tab /><tab />"verses": [<br/>
        <tab /><tab /><tab />{<br/>
        <tab /><tab /><tab /><tab />"number": 1,<br/>
        <tab /><tab /><tab /><tab />"text": "<bp></bp>And getting into a boat he crossed over and came to his own city.",<br/>
        <tab /><tab /><tab /><tab />"heading": "Jesus Heals a Paralytic",<br/>
        <tab /><tab /><tab /><tab />"footnotes": []<br/>
        <tab /><tab /><tab />},<br/>
        <tab /><tab /><tab />{<br/>
        <tab /><tab /><tab /><tab />"number": 2,<br/>
        <tab /><tab /><tab /><tab />"text": "And behold, some people brought to him a paralytic, lying on a bed. And when Jesus saw their faith, he said to the paralytic, <woc>“Take heart, my son; your sins are forgiven.”</woc>",<br/>
        <tab /><tab /><tab /><tab />"heading": null,<br/>
        <tab /><tab /><tab /><tab />"footnotes": []<br/>
        <tab /><tab /><tab />},<br/>
        <tab /><tab /><tab />{<br/>
        <tab /><tab /><tab /><tab />"number": 3,<br/>
        <tab /><tab /><tab /><tab />"text": "And behold, some of the scribes said to themselves, “This man is blaspheming.”<ep></ep>",<br/>
        <tab /><tab /><tab /><tab />"heading": null,<br/>
        <tab /><tab /><tab /><tab />"footnotes": []<br/>
        <tab /><tab /><tab />}<br/>
        <tab /><tab />]<br/>
        <tab />},<br/>
        <tab />"copyright": "The Holy Bible, English Standard Version copyright (c)2001 by Crossway Bibles, a division of Good News Publishers. Used by permission. All rights reserved. http://www.esv.org"<br/>
        }
    </blockquote>
</div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>